*{
    padding:0px;
    margin:0px;
}

header{
    background-color: aquamarine;
}

header ul{
    display:flex;
    align-content:center;
}

header ul li{
    margin:5px;
}

ul{
    display:flex;
    padding:5%;
    text-decoration: none;
    text-decoration-style: none;
}

li{
    text-decoration: none;
    text-decoration-style: none;   
}


main{
    display:flex;
    align-items: flex-start;
}

.divb{
    border-radius:8px;
    border:2px solid;
    padding:2%;
    margin:2%;
}

.diva{
    display:flex;
    flex-direction: column;
    align-items:center;
    border-radius:8px;
    border:2px solid;
    padding:2%;
    width:40%;
}

button{
    border-radius: 8px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}

table{
    border:solid;
}

th{
    border:solid;
    padding:1%;
}