*{
    padding:0px;
    margin:0px;
}

header{
    background-color: aquamarine;
    padding:2%;
}

header ul{
    display:flex;
    align-content:center;
}

header ul li{
    margin:5px;
}

ul{
    display:flex;
    text-decoration: none;
    text-decoration-style: none;
}

li{
    text-decoration: none;
    text-decoration-style: none;   
}


main{
    display:flex;
    align-items: flex-start;
    margin:2%;
}

.divb{
    border-radius:8px;
    border:2px solid;
    padding:2%;
    margin:2%;
    background-color: rgb(207, 207, 207);
}

.diva{
    display:flex;
    flex-direction: column;
    align-items:center;
    border-radius:8px;
    border:2px solid;
    padding:2%;
    margin:1%;
    width:40%;
    background-color: rgba(139, 255, 255, 0.377);
}

.diva table{
    border-radius: 8px;
    padding:1%;
}

h3{
    text-decoration: underline;
    margin-top:15px;
}

.divc{
    background-color: white;
}

button{
    border-radius: 8px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border-color:red;
    margin:2%;
}

table{
    border:solid;
}

th{
    border:solid;
    padding:1%;
}